{% extends "pages/page.html" %}
{% load i18n staticfiles mezzanine_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
		<!-- {# don't know what this stuff does - trans is not a django tag? #} -->

{% block breadcrumb_wrapper %}{% endblock %}
		<!-- {# removes the breadcrumbs from this page #} -->

{% block title_wrapper %}{% endblock %}
		<!-- {# removes the big heading from this page #} -->

<!-- {% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %} -->
		<!-- {# doesn't seem to have an effect on the page whether it's commented out or not #} -->

{% block all_content %}
	<section id="{% block section_id %}featured{% endblock %}">
		{% block left_wrapper %}
		{% endblock %}

		{% block main %}
			<!-- start container for slider -->
			{% if page.homepage.slides %}
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Slider -->
		        <div id="main-slider" class="flexslider">
	            <ul class="slides">
	            	{% for slide in page.homepage.slides.all %}
	              <li>
	                <img src="{{ MEDIA_URL }}{% thumbnail slide.image 1024 360 %}">
	                <div class="flex-caption">
	                    <h3>{{ slide.caption_heading }}</h3> 
											<p>{{ slide.caption_blurb }}</p> 
												<a href="#" class="btn btn-theme">Learn More</a>
	                </div>
	              </li>
	              {% endfor %}
	            </ul>
		        </div>
						<!-- end slider -->
					</div><!--end col-->
				</div>
			</div><!--end container-->
			{% endif %}

			{# {{ block.super }} #}
				<!--this seems to pull in stuff from the rich text field where I entered data in the admin. Notice that it is commented out for now.-->
		{% endblock main %}

		{% block right_wrapper %}
		{% endblock right_wrapper %}

	</section><!--end section featured-->
	<section class="callaction">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="big-cta">
						<div class="cta-text">
							<h2>{{ page.homepage.heading }}</h2>
							<p class="col-md-10 col-md-offset-1">
								{{ page.homepage.paragraph_blurb }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!--end section callaction-->
	<section id="content">
		<div class="container">
			{% if page.homepage.features.all %}
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						{% for feature in page.homepage.features.all %}
						<div class="col-md-6 col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<img src="{{ MEDIA_URL }}{% thumbnail feature.image 500 500 %}">
									<h4>{{ feature.caption_heading }}</h4>

									<!-- <div class="icon">
									<i class="fa fa-desktop fa-3x"></i>
									</div> -->
									<p class="">
									 {{ feature.caption_blurb }}
									</p>
										
								</div>
								<div class="box-bottom">
									<a href="{{ page.homepage.link.get_absolute_url }}">Learn more</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div><!--end row-->
			{% endif %}
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="big-cta">
								<div class="cta-text">
									<h2>Testimonials</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="box">
								<div class="box-gray testimonial">
									<span class="leading_quotation_mark">&ldquo;</span><p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.&rdquo;</p>
								</div>
								<div class="quote">
									<p>- Sir Quote Alot<br>
										Proud dog owner</p>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="box">
								<div class="box-gray testimonial">
									<span class="leading_quotation_mark">&ldquo;</span><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation.&rdquo;</p>
								</div>
								<div class="quote">
									<p>- Ms Quote Alot<br>
										Proud cat owner</p>
								</div>
							</div>
						</div><!--end column-->
					</div><!--end row-->
				</div><!--end container-->
			</div><!--end row -->
		</div><!--end container-->
	</section><!--end section content -->
{% endblock all_content %}